/***** Header styles *****/

header {
    .fullwidth;
    background-color: @header-blue;
    color: @white;
    padding: 10px 10px 0;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    position: fixed;
    top: 0;
    .z;
}
.header-row {
    padding: 10px;
}
.image {
    .radius(50%);
    background-color: @white;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 0 40px;
}
img {
    .block;
    height: 26px;
    margin: 3px auto;
}
.breadcrumps {
    font-size: 20px;

    span {
        .transition;
        color: @white;

        &:hover {
            color: @bg-hover-blue;
        }
    }
}
input {
    .block;
    .radius;
    .border(@header-blue);
    .transition(.2s, ease-in);
    color: @white;
    height: 36px;
    width: 200px;
    padding: 8px 8px 8px 72px;
    background-color: #4285f4;

    &:hover {
        background-color: @elems-blue;
    }
}
.searchblock {
    position: relative;
    margin: 0 10px;

    &:before {
        content: '\F002';
        position: absolute;
        font-family: FontAwesome;
        font-size: 16px;
        left: 35px;
        top: 9px;
    }
}
.placeholder(@white, 16px);
.left, .right {
    width: 50%;
}
.menu {
    margin: 0 10px;
    color: @bg-hover-blue;
    .transition;

    &:hover {
        color: @white;
    }
}
.user-logo {
    width: 40px;
    height: 40px;
    overflow: hidden;
    background-color: @elems-blue;
    color: @header-blue;
    .radius(50%);
    .border(@elems-blue);
    .transition;

    &:hover {
        color: #4a77d5;
        background-color: @bg-hover-blue;
    }
}
.header-row-nopadding {
    padding-bottom: 0;
}
.issues {
    margin-left: 15px;
    .fullwidth;

    li {
        color: @bg-hover-blue;
        padding: 0 15px 15px;
        .text-transform;
        .pointer;

        &:hover {
            color: @white;
        }
    }
    li.active {
        border-bottom: 3px solid @white;
    }
}
.feedback {
    .radius;
    .border(@header-blue);
    .font;
    background-color: @header-blue;
    color: @bg-hover-blue;
    margin-top: -8px;
    padding: 8px;

    &:hover {
        color: @white;
        background-color: #4A77D5;
    }
}