.block(@block: block) {
	display: @block;
}
.fullwidth(@width: 100%) {
	width: @width;
}
.radius(@radius: 3px) {
	border-radius: @radius;
}
.border(@color, @size: 1px, @style: solid) {
	border: @size @style @color;
}
.text-transform(@transform: uppercase) {
	text-transform: @transform;
}
.font(@weight: bold) {
	font-weight: @weight;
}
.pointer(@cursor: pointer) {
	cursor: @cursor;
}
.transition(@time: .1s, @func: ease) {
	transition: @time @func;
}
.placeholder(@color, @size) {
	input::-webkit-input-placeholder {
		color: @color;
		font-size: @size;
	}
	input::-moz-placeholder {
		color: @color;
		font-size: @size;
	}
	input:-ms-input-placeholder {
		color: @color;
		font-size: @size;
	}
	input::placeholder {
		color: @color;
		font-size: @size;
	}
}
.x(@value: hidden) {
	overflow-x: @value;
}
.y(@value: hidden) {
	overflow-y: @value;
}
.z(@value: 10) {
	z-index: @value;
}